* {
  box-sizing: border-box;
  background-color: #1a1b21;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.root {
  margin: 0 auto;
  display: flex;
  justify-items: center;
  width: 700px;
}
h3 {
  font-size: 4em;
}

h3,
h5,
p,
a {
  color: #ffff;
}
h3,
h5 {
  font-weight: 700;
}

.profile-picture,
img {
  border-radius: 30px 30px 0px 0px;
  width: 100%;
}

.basic-info {
  display: block;
  margin: 0 auto;
  margin-top: 1.7em;
  margin-bottom: 1.5em;
  text-align: center;
  line-height: 0.3em;
}

.charge,
.website {
  color: #f3bf99;
  font-weight: 300;
  font-size: 2.5em;
}
.website {
  color: white;
  font-size: 2.5em;
}
.buttons {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
}

.email-btn,
.linkedin-btn {
  border-radius: 10px;
  background-color: #d1d5db;
  padding: 1em 2em;
  color: #374151;
}

.email-icon,
.linkedin-icon {
  margin-right: 8px;
  width: 1em;
  border-radius: 0; /* Asegúrate de que no se aplique borde redondeado */
  background-color: unset;
}

.email-btn:hover {
  background-color: #f0f0f0;
}

.linkedin-btn {
  background-color: #5093e2;
  color: white;
}

.linkedin-btn:hover {
  background-color: #297ad9;
}

.about-section {
  padding: 0em 2em;
}
.about-section h5 {
  font-size: 3rem;
}

.about-section p {
  font-size: 2rem;
}
.footer-section {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer-icons {
  border-radius: 0px;
  width: 4rem;
}
